Name: PAVAN KUMAR 

Batch Id: AUG 4th 2023

Topic: Data Pre-Processing 

subtopic: zero variance

In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/1pava/Documents/360digitmg/EDA/DATA SETS/Z_dataset.csv")

In [3]:
df

      Id  square.length  square.breadth  rec.Length  rec.breadth  colour
0      1            5.1             3.5         1.4          0.2    Blue
1      2            4.9             3.0         1.4          0.2    Blue
2      3            4.7             3.2         1.3          0.2    Blue
3      4            4.6             3.1         1.5          0.2    Blue
4      5            5.0             3.6         1.4          0.2    Blue
..   ...            ...             ...         ...          ...     ...
145  146            6.7             3.0         5.2          2.3  Orange
146  147            6.3             2.5         5.0          1.9  Orange
147  148            6.5             3.0         5.2          2.0  Orange
148  149            6.2             3.4         5.4          2.3  Orange
149  150            5.9             3.0         5.1          1.8  Orange

[150 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              150 non-null    int64
 1   square.length   150 non-null    float64
 2   square.breadth  150 non-null    float64
 3   rec.Length      150 non-null    float64
 4   rec.breadth     150 non-null    float64
 5   colour          150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
# collecting all the important attributes in one variable x
x= df.select_dtypes(exclude= ['int64', 'object'])

In [10]:
x

     square.length  square.breadth  rec.Length  rec.breadth
0              5.1             3.5         1.4          0.2
1              4.9             3.0         1.4          0.2
2              4.7             3.2         1.3          0.2
3              4.6             3.1         1.5          0.2
4              5.0             3.6         1.4          0.2
..             ...             ...         ...          ...
145            6.7             3.0         5.2          2.3
146            6.3             2.5         5.0          1.9
147            6.5             3.0         5.2          2.0
148            6.2             3.4         5.4          2.3
149            5.9             3.0         5.1          1.8

[150 rows x 4 columns]

In [11]:
x.var()

square.length     0.685694
square.breadth    0.189979
rec.Length        3.116278
rec.breadth       0.581006
dtype: float64

In [12]:
x.corr()

                square.length  square.breadth  rec.Length  rec.breadth
square.length        1.000000       -0.117570    0.871754     0.817941
square.breadth      -0.117570        1.000000   -0.428440    -0.366126
rec.Length           0.871754       -0.428440    1.000000     0.962865
rec.breadth          0.817941       -0.366126    0.962865     1.000000

In [13]:
x.mean()

square.length     5.843333
square.breadth    3.057333
rec.Length        3.758000
rec.breadth       1.199333
dtype: float64

In [14]:
x.median()

square.length     5.80
square.breadth    3.00
rec.Length        4.35
rec.breadth       1.30
dtype: float64

In [15]:
x.mode()

   square.length  square.breadth  rec.Length  rec.breadth
0            5.0             3.0         1.4          0.2
1            NaN             NaN         1.5          NaN

In [17]:
x.isnull().sum()

square.length     0
square.breadth    0
rec.Length        0
rec.breadth       0
dtype: int64

In [18]:
x.std()

square.length     0.828066
square.breadth    0.435866
rec.Length        1.765298
rec.breadth       0.762238
dtype: float64